$color-basic: #f5f4f3;
$color-taupe: #55555d;
$color-brown1: #806d3c;
$color-brown: #292210;
$color-grey: #555558;
$color-marine: hsl(240, 28%, 20%);
$font-roboto: "Roboto";
$font-roboto-slab: "Roboto Slab", serif;
$font-franklin-gothic: "Franklin Gothic Medium", "Arial Narrow", Arial,
  sans-serif;
$font-fira: "Fira Sans", sans-serif;
$font-size-header: 17px;

$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 15px;
$padding-l: 20px;
$padding-xl: 30px;
$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 15px;
$margin-l: 20px;
$margin-xl: 30px;
