@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Roboto+Slab:wght@300;400;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $margin-s;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

//header

.wrapper {
  background-color: $color-basic;
}

.bg-slider {
  height: 30vh;
  background: url("./assets/Background-Full-HD-Images-Free-Download.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  height: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.logo {
  margin-top: $margin-xs;
}
.navigation ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}
.navigation li a {
  font-size: $font-size-header;
  font-weight: 600;
  text-transform: capitalize;
  color: bisque;
  text-decoration: none;
}

.header input {
  width: 60px;
  height: 40px;
  border-radius: 25px;
  border-color: beige;
  margin-left: $margin-l;
  margin-top: 25px;
  background: url(./assets/search-black-small.png) center no-repeat;
  background-color: $color-clair;
  cursor: pointer;
}
.header input:hover {
  transform: scale(110%);
}

//section dark
.wrapper-dark {
  padding: 20px 0;
  background-color: $color-wrapper-dark;
}

.article-2 {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 $padding-m 0 $padding-l;
}
.sec1-title a {
  color: $color-clear;
  text-decoration: none;
}
.sec1-title {
  padding: $padding-m 0;
}

h3 {
  font-size: 21px;
  font-weight: 500;
}
h3 img {
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.p-dark {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
}

//section main

.title {
  font-size: 40px;
  color: #d6bf86;
  text-align: center;
  padding: $padding-xxl 0;
}

.col-style {
  width: 98%;
  height: fit-content;
  background-color: white;
  margin: $margin-s 0;
  padding: $padding-l;
}

.title2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $color-brown1;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  padding: $padding-s;
  padding-left: $padding-l;
  margin-left: -$margin-l;
  border-left: 5px solid $color-orange;
}
.italic {
  font-style: italic;
}
.title3 {
  font-size: 26px;
  color: #d6bf86;
  padding: $padding-xs 0;
}

.text2,
.text,
.text-section {
  padding: $padding-m 0;
}
p {
  color: $color-taupe;
  padding: $padding-xs;
  line-height: 20px;
}

.text2 {
  font-size: 13px;
  line-height: 15px;
}

//multimedia
.title3-photo img {
  width: 100%;
  border: 8px solid beige;
  border-radius: 3px;
}
.title3-container {
  margin: $margin-m 0;
}

.iconLike {
  width: 60px;
  height: 50px;
  border: none;
  background-color: beige;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: $color-brown1;
  margin: 2px;
}
.tag {
  height: 50px;
  min-width: 70px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: $color-brown1;
  margin: 2px;
}
.category {
  padding: $padding-s;
  text-align: center;
}
.category a {
  text-decoration: none;
}

//footer shortcut
.wrapper-beige {
  background-color: beige;
  padding: $padding-m;
}
.title4 {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-taupe;
  padding: $padding-s $padding-xs;
}
footer p {
  font-size: 12px;
  line-height: 13px;
}
//footer footer
footer .wrapper-dark {
  padding: 30px 0 20px 0;
  background-color: $color-wrapper-dark;
}
.footer-img {
  padding-bottom: $padding-s;
}
/*tablet*/

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66665%;
    max-width: 41.66665%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33331%;
    max-width: 58.33331%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .bg-slider {
    height: 50vh;
  }
}

/*laptop*/

@media (max-width: 991px) {
  .hidden-md {
    display: none;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33332%;
    max-width: 33.33332%;
  }
  .col-md-5 {
    flex: 0 0 41.66665%;
    max-width: 41.66665%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33331%;
    max-width: 58.33331%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bg-slider {
    height: 75vh;
  }
}

/*desktop*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33332%;
    max-width: 33.33332%;
  }
  .bg-slider {
    height: 100vh;
  }
}

/*only mobile*/
@media (max-width: 767px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation ul {
    display: block;
  }
  .navigation li a {
    font-size: 14px;
  }
  .article-2 {
    border: none;
    padding-left: 0;
  }
}
@media (max-width: 400px) {
  .title,
  .title2,
  .title3 {
    font-size: 12px;
  }
}
